bin/*
bin-groovy/*
webapp/WEB-INF/classes/*
webapp/WEB-INF/lib/*
src/com/mg/twitbay/dsl/TwitBayDSL_Test2.groovy
.DS_Store
.classpath
.project
.settings/org.codehaus.groovy.eclipse.preferences.prefs
.settings/org.eclipse.jdt.core.prefs
